body
{
    font-family: sans-serif;
}

div[class^='item']
{
	display: inline-block;
	width:400px;
	height:300px;
	color: black;
	font-size: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 180px;
    margin: 10px;
    background-size: cover;
    background-position: center;
}

.percentBox
{
    vertical-align: bottom;
}

.text
{
    color: black;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}